//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html
    head
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 Pets
        a(href="/update") Add/Update this table
        .card
            table
                thead
                    tr
                        th Name
                        th Pet Bio
                        th Job Title
                tbody
                    each pet in petObjects
                        tr
                            td #{pet.properties.pet_name}
                            td #{pet.properties.pet_bio}
                            td #{pet.properties.job_title}
